[Unit]
Description=Streambot Touch Wayland Kiosk
After=systemd-user-sessions.service getty@tty1.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=MC_USER
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
StandardError=journal

Environment=XDG_RUNTIME_DIR=/run/user/MC_UID
Environment=GDK_BACKEND=wayland
Environment=GTK_THEME=Adwaita:dark
Environment=COLOR_SCHEME=prefer-dark
Environment=WLR_RENDERER=gles2
Environment=GDK_GL=gles
Environment=WLR_RENDERER_ALLOW_SOFTWARE=1
#Environment=WEBKIT_DISABLE_DMABUF_RENDERER=1

ExecStart=/usr/bin/labwc

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target